@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f9b64d;
}


body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;

}



.showcase h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.showcase form {
  width: 100%;

}

.showcase form input,
form select {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}


.btn{
  background: var(--primary-color);
  color: #fff;
  font-size: 20px;
  padding: 12px;
  border: none;
  border-radius: 5px;
}
